body {
  margin: 0%;
  padding: 0%;  
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  padding: 8px;
  background-color: lavender;
  border: none;
  border-radius: 8px;
  height: 50px;
  width: 90px;

}